html {
    top : 0;
    margin : 0;
    width: 100%;
    overflow: hidden;
    background-color: black;

    body {
        top: 0;
        margin: 0;
        width: 100%;

        #playerHealthBar {
            color: white;
            font-weight: bold;
            font-size: 20px;
        }

        canvas {
            margin: 0;
            top: 0;
        }
    }
}