html {
    top : 0;
    margin : 0;
    width: 100%;
    overflow: hidden;
    background-color: black;

    body {
        top: 0;
        margin: 0;
        width: 100%;

        #HUD {
            color: white;
            font-weight: bold;
            font-size: 20px;
            position: sticky;
        }

        canvas {
            margin: 0;
            top: 0;
        }

        nav {
            display: flex;
            flex-direction: row;
            align-items: center;
            color: white;

            input {
                max-width: 100px;
            }
        }

        #elementsPopup {

            position: absolute;
            width: 40%;
            height: 75%;
            background-color: white;
            visibility: visible;
            top: 0;
            left: 60%;

            &.hidden {
                visibility: hidden;
            }
        }
    }
}